pandas==2.2.2
numpy
seaborn==0.13.2
matplotlib==3.9.2
scikit-learn==1.5.1
xgboost==2.1.1
dill
Flask==3.0.3
pickle4=0.0.1
#-e .

#incase for setuptools verion installation problem 
#use this pip install setuptools==65.5.0  # Replace with the version you need